<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/book.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Forum&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
         <div class="head">
            <div class="reader"><h1>MR. mysterious</h1></div>
            <div class="book">
                <div class="book_cover">
                    <div class="book__cover">
                        <img src="https://covers.openlibrary.org/b/id/<%=book.cover_id%>-L.jpg">
                    </div>
                </div>
                <div class="book_detailes">
                    <div class="title"><h1><%= book.title %> -by <%= book.author %></h1></div>
                    <div class="rating">
                        <h4>Reading Date: <%= date %></h4>
                        <h4>Highly Recommended: <%= book.rating %>/ 10</h4>
                        <h4>More Details Available on <a>Amazon</a></h4>
                    </div>
                </div>
            </div>
            <div class="reader_no" ><h5><a href="/" >view more books</a></h5></div>
         </div>
         <div class="youshould">
            <P>
                <%= book.why_should %></P>
         </div>
         <div class="notes">
            <h2>My Notes</h2>
            <pre><%= book.note %>
            </pre>
         </div>
    </div>
</body>
</html>
